body {
	font-family: verdana;
}

header#cabecalho {
	background-color: silver;
}

footer#rodape {
	background-color: silver;
	clear: both;
}

aside#secundario {
	background-color: gray;
	display: block;
	/* width: 25%; */
	width: 150px;
	float: left;
}

section#principal {
	display: block;
	/* width: 70%; */
	width: calc(95% - 150px);
	float: right;
}