/* 
* {
	margin: 0;
} 
*/

body {
	font-family: verdana;
	margin: 0;
}

h1, h2 {
	font-weight: normal;
	color: #666666;
}

h1 {
	color: #DDDDDD;
	margin: 0;
}

p {
	font-size: 11pt;
	text-align: justify;
	text-indent: 50px;
	line-height: 20pt;
	color: #333333;
}

address {
	font-size: 10pt;
	font-style: normal;
	text-align: center;
	color: black;
}

header#cabecalho {
	background-color: #666666;
	text-align: center;
	height: 150px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: black 3px solid;
}

footer#rodape {
	background-color: silver;
	text-align: center;
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* clear: both; */
	border-top: black 3px solid;
}

aside#secundario {
	/* width: 25%; */
	width: 150px;
	display: block;
	float: left;
	padding: 3px;
}

section#principal {
	/* border: black 1px solid; */
	/* border-top: black 1px solid; */
	/* border-bottom: black 1px solid; */
	/* border-right: black 1px solid; */
	/* border-left: black 1px solid; */
	/* width: 72%; */
	width: calc(95% - 150px);
	display: block;
	float: right;
	padding: 5px;
}

nav#menu a {
	/* text-decoration: underline; */
	/* text-decoration: overline; */
	/* text-decoration: line-through; */
	text-decoration: none;
	font-size: 11pt;
	color: black;
}

nav#menu ul {
	/* list-style-type: disc; */
	/* list-style-type: circle; */
	/* list-style-type: square; */
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 150px;
}

nav#menu ul a {
	background-color: #CCCCCC;
	display: block;
	width: 100%;
	border-bottom: white 1px solid;
	height: 35px;
	line-height: 35px; 
	padding-left: 5px;
}

nav#menu ul a:hover {
	background-color: #333333;
	color: white;
}